.affirmation {
    width: 35%;
    margin-right: 5px;
    margin-left: auto;
}

.protocol-title,
#agenda-title {
    text-align: center;
}

#paragraph1,
#paragraph3 {
    line-height: 1.5;
    text-indent: 45px;
    text-align: justify;
}

#paragraph2 {
    margin-bottom: 0px;
}

#members {
    position: relative;
}

#members b {
    position: absolute;
}

ol {
    width: 80%;
    margin-left: 70px;
}

#agenda-text {
    margin: 0px 45px;
    font-weight: bold;
}

.v-container {
}

.myDiv {
    margin: auto;
    width: 18.5cm;
}