@use "@/assets/styles/common.scss" as *;

:deep(div:has(.py-3)) {
    margin: none !important;
}

:deep(span.body) {
    max-width: 45%;
    margin: 5px 30px !important;
    padding: 5px 30px !important;
    background-color: var(--ISDA-main-color2-1);
    box-shadow: gray 0px 1px 3px 0px;
    align-self: flex-end;
}

:deep(.highlighted) {
    background-color: var(--ISDA-main-color4-rgb-op);
}

:deep(span.py-3) {
    max-width: 45%;
    margin: 0px !important;
    top: 0px !important;
    align-self: baseline;
    margin-top: 50px !important;
}