
CREATE PROCEDURE [dbo].[sp_GetFilms] 
	@LinkedServer nvarchar(50),
	@PageSize int = 10,
	@PageNumber int = 1,
	@FundGid int = 0
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @RemoteFilmsQuery nvarchar(max) = '';
    DECLARE @RemoteFilms TABLE 
	(
		Id int
		, HasExternalSource bit		
		, ExternalIdentifier int
		, ArchiveCode int
		, ArchiveName nvarchar(255)
		, InventoryNumber nvarchar(256)
		, Notes nvarchar(max)
		, Source nvarchar(256)
		, CountryCode nvarchar(255)
		, CountryName nvarchar(max)
		, MicrofilmNegativeFramesCount int
		, MicrofilmPositiveFramesCount int
		, PhotoCopy int
		, DigitalCopy int
		, Other nvarchar(256)
		, Content nvarchar(max)
		, FramesCount int
		, AcceptedOnDay int
		, AcceptedOnMonth int
		, AcceptedOnYear int
		, MicrofilmNegativeRollsCount int
		, MicrofilmPositiveRollsCount int
	);
	
	/*
	SELECT 
			   -1 as Id
			  ,CAST(1 as bit) as HasExternalSource
			  ,fund.[LGid] as ExternalIdentifier
			  ,(select Code from [Archiving].[dbo].Archive a where a.Gid = fund.ArchiveGid and a._retired = '3000-01-01 00:00:00.000') as ArchiveCode
			  ,(select Name from [Archiving].[dbo].Archive a where a.Gid = fund.ArchiveGid and a._retired = '3000-01-01 00:00:00.000') as ArchiveName
			  ,fund.[Number] as InventoryNumber
			  ,fund.[Note] as Notes
			  ,fund.[CreationAuthor] as Source
			  ,(
					SELECT Value2
					FROM  Nomenclature n
					WHERE n.Gid = fund.CountryGid
						AND n._retired=''3000-01-01'' AND n.Type=''FACountry''
				) AS CountryCode
			  ,(
					SELECT Value3
					FROM  Nomenclature n
					WHERE n.Gid = fund.CountryGid
						AND n._retired = ''3000-01-01'' AND n.Type=''FACountry''
			   ) AS CountryName
			  ,fund.[CopyNegativeFrames] as MicrofilmNegativeFramesCount
			  ,fund.[CopyPositiveFrames] as MicrofilmPositiveFramesCount
			  ,fund.[CopyXerox] as PhotoCopy
			  ,fund.[CopyDigital] as DigitalCopy
			  ,fund.[CopyOther] as Other
			  ,fund.[InventoryShortDescroption] as Content
			  ,fund.[FramesCount]
			  ,fund.[FARevicedOnDay] as AcceptedOnDay
			  ,fund.[FARevicedOnMonth] as AcceptedOnMonth
			  ,fund.[FARecivedOnYear] as AcceptedOnYear
			  ,fund.[CopyNegativeRolls] as MicrofilmNegativeRollsCount
			  ,fund.[CopyPositiveRolls] as MicrofilmPositiveRollsCount
		 FROM [Archiving].[dbo].Fund_Modified as fund
		 JOIN [Archiving].[dbo].Nomenclature nom on nom.Gid = fund.LevelOfDescriptionGid
		 WHERE nom.Code = 9 /*КМФ*/
		 and fund.LGId = 10000536
	*/

		SET @RemoteFilmsQuery = CAST('' as nvarchar(max)) + '		
		SELECT 
			   -1 as Id
			  ,CAST(1 as bit) as HasExternalSource
			  ,fund.[LGid] as ExternalIdentifier
			  ,(select Code from [Archiving].[dbo].Archive a where a.Gid = fund.ArchiveGid and a._retired = ''3000-01-01 00:00:00.000'') as ArchiveCode
			  ,(select Name from [Archiving].[dbo].Archive a where a.Gid = fund.ArchiveGid and a._retired = ''3000-01-01 00:00:00.000'') as ArchiveName
			  ,fund.[Number] as InventoryNumber
			  ,fund.[Note] as Notes
			  ,fund.[CreationAuthor] as Source
			  ,(
					SELECT Value2
					FROM  Nomenclature n
					WHERE n.Gid = fund.CountryGid
						AND n._retired=''3000-01-01'' AND n.Type=''FACountry''
				) AS CountryCode
			  ,(
					SELECT Value3
					FROM  Nomenclature n
					WHERE n.Gid = fund.CountryGid
						AND n._retired = ''3000-01-01'' AND n.Type=''FACountry''
			   ) AS CountryName
			  ,fund.[CopyNegativeFrames] as MicrofilmNegativeFramesCount
			  ,fund.[CopyPositiveFrames] as MicrofilmPositiveFramesCount
			  ,fund.[CopyXerox] as PhotoCopy
			  ,fund.[CopyDigital] as DigitalCopy
			  ,fund.[CopyOther] as Other
			  ,fund.[InventoryShortDescroption] as Content
			  ,fund.[FramesCount]
			  ,fund.[FARevicedOnDay] as AcceptedOnDay
			  ,fund.[FARevicedOnMonth] as AcceptedOnMonth
			  ,fund.[FARecivedOnYear] as AcceptedOnYear
			  ,fund.[CopyNegativeRolls] as MicrofilmNegativeRollsCount
			  ,fund.[CopyPositiveRolls] as MicrofilmPositiveRollsCount
		 FROM [Archiving].[dbo].Fund_Modified as fund
		 JOIN [Archiving].[dbo].Nomenclature nom on nom.Gid = fund.LevelOfDescriptionGid
		 WHERE nom.Code = 9 /*КМФ*/'

		if IsNull(@FundGid, 0) > 0
		begin 
			set @RemoteFilmsQuery = @RemoteFilmsQuery + '
			AND fund.LGId = ' + CAST(@FundGid as nvarchar(50));
		end

		SET @RemoteFilmsQuery = REPLACE(@RemoteFilmsQuery, '''', '''''');

		DECLARE @RemoteQuery nvarchar(max) = 'SELECT * FROM OPENQUERY(' +  @LinkedServer + ', ''' + @RemoteFilmsQuery + ''' )';
		
		INSERT INTO @RemoteFilms 
		EXEC(@RemoteQuery)

			
	SELECT *
	  FROM
	  (
		 SELECT *
		   FROM @RemoteFilms
	   ) films
	ORDER BY ExternalIdentifier
	OFFSET ((@PageNumber - 1) * @PageSize) ROWS FETCH NEXT @PageSize ROWS ONLY
	
END
