@use '@/assets/styles/common.scss' as *;

// :deep(.loader) {
//     @include loader();
// }

.v-card {
    @include card;
}

.v-card-title,
h3 {
    @include title();
}

:deep(button) {
    @include button();
    //margin: 50px 15px 15px 15px;
}

:deep(button.cancel) {
    @include button($background: var(--ISDA-main-color1));
}

:deep(.bg-primary) {
    @include button($color: var(--ISDA-main-color1) !important, $background: var(--ISDA-main-color4) !important);
    border: 2px solid var(--ISDA-main-color1);
}

:deep(.v-expansion-panel-title) {
    @include button-expansion-panel($color: var(--ISDA-main-color1), $background: var(--ISDA-main-color2-1));
    margin: 0px !important;
}

:deep(input[type='checkbox']:checked),
:deep(.is-selected),
:deep(.multiselect-tag) {
    @include check-input();
}

:deep(.v-col header > div) {
    margin-bottom: 25px;
}

// :deep(button) {
//     margin-top: 15px !important;
// }

.v-card:nth-of-type(2) {
    @include card-first
}